@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @keyframes slide-in {
        from {
            transform: translateX(-100%);
        }
        to {
            transform: translateX(0%);
        }
    }
    @keyframes drop-in {
        from {
             transform: translateY(-50%);
             opacity: 0;
        }
        to {
            transform: translateY(0%);
            opacity: 1;
        }
    }
    *, *::before, *::after {
        box-sizing: border-box;
    }
    * {
        margin: 0;
        line-height: calc(1em + 0.5rem);
    }
    html, body, #__next {
        height: 100%;
    }
    html {
        --min-tap-height: 44px;
        --font-sans-serif: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
        --font-sans-heading: 'Poppins', sans-serif;
        --color-text: hsl(248, 5%, 10%);
        --color-gray-text: hsl(209.1, 20%, 67.6%);
        --color-pure-black: hsl(0, 0%, 0%);
        --color-pure-gray-500: hsl(0, 0%, 50%);
        --color-pure-gray-100: hsl(0, 0%, 95%);
        --color-black-normal: hsl(248, 5%, 15%);
        --color-black-text-light: hsl(248, 5%, 25%);
        --color-yisy-orange-logo: hsl(36, 97%, 85%);
        --color-orange-light-bg: hsl(36, 45%, 95%);
        --color-orange-xlight: hsl(34, 50%, 90%);
        --color-orange-light: hsl(34, 90%, 85%);
        --color-orange-vibrant: hsl(33.8, 92.3%, 69.4%);
        --color-orange-normal: hsl(34, 70%, 55%);
        --color-orange-dark: hsl(34, 100%, 30%);
        --color-orange-xdark: hsl(34, 100%, 20%);
        --color-green-xlight: hsl(146, 20%, 95%);
        --color-green-light: hsl(146, 90%, 71%);
        --color-green-normal: hsl(146, 50%, 36%);
        --color-green-dark: hsl(146, 70%, 20%);
        --color-green-xdark: hsl(146, 20%, 20%);
        --color-yisy-gray-light-bg: hsl(240, 3%, 95%);
        --color-yisy-gray-logo: hsl(240, 3%, 29%);
        --color-yisy-gray-dark: hsl(240, 10%, 20%);
        --color-yisy-gray-light: hsl(240, 10%, 50%);
        --color-yisy-green-logo: hsl(117, 15%, 72%);
        --color-yisy-green-dark: hsl(117, 15%, 35%);
        --color-yisy-green-xdark: hsl(117, 20%, 20%);
        --color-yisy-green-text: hsl(116.6, 82.8%, 25.1%);
        --color-yisy-green-light: hsl(117, 40%, 90%);
        --color-yisy-green-xlight: hsl(117, 15%, 90%);
        --color-gray-50: #fafaf9;
        --color-gray-100: #f5f5f4;
        --color-gray-200: #e7e5e4;
        --color-gray-300: #d6d3d1;
        --color-gray-400: #a8a29e;
        --color-gray-500: #78716c;
        --color-gray-600: #57534e;
        --color-gray-700: #44403c;
        --color-gray-800: #292524;
        --color-gray-900: #1c1917;
        --transition-timing-ease-out: cubic-bezier(0.215, 0.61, 0.355, 1);
        --transition-timing-ease-in: cubic-bezier(0.75, 0, 1, 1);
        --transition-timing-ease-in-out: cubic-bezier(0.645, 0.045, 0.355, 1);
        --transition-timing-ease: cubic-bezier(0.44, 0.21, 0, 1);
        --diagonal-skew: skewY(-5deg);
        --diagonal-skew-opposite: skewY(5deg);
        --shadow-color: hsl(0, 0%, 75%);
    }
    body {
        overflow-y: scroll;
        font-family: var(--font-sans-serif);
        line-height: 1.5;
        -webkit-font-smoothing: antialiased;
        background-color: var(--color-gray-100);
    }
    #__next {
        isolation: isolate;
    }
    p, h1, h2, h3, h4, h5, h6 {
        overflow-wrap: break-word;
    }
    h1, h2, h3, h4, h5, h6 {
        font-family: var(--font-sans-heading);
    }
    h1 {
        font-size: clamp(1.5rem, 4vw + 1rem, 3rem);
        margin-bottom: 0.5em;
        min-height: 0vh;
    }
    h2 {
        font-size: clamp(1.25rem, 2vw + 1rem, 2.5rem);
        margin-bottom: 0.3em;
        min-height: 0vh;
    }
    h3 {
        font-size: clamp(1.10rem, 1.5vw + 1rem, 2rem);
        margin-bottom: 0.2em;
        min-height: 0vh;
    }
    p {
        font-size: 1rem;
        overflow-wrap: break-word;
        font-family: var(--font-sans-serif);
    }
    input, select, textarea, button {
        font: inherit;
    }
    button, input, select, textarea {
        @apply cp:min-h-tap
    }
    img, picture, video, canvas, svg {
        display: block;
        max-width: 100%;
    }
}