@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Baron';
        src: url('/baron/baron.woff2') format('woff2');
        font-weight: 400;
        font-style: normal;
        font-display: fallback;
    }
    @font-face {
        font-family: 'Baron Black';
        src: url('/baron/baron_black.woff2') format('woff2');
        font-weight: 400;
        font-style: normal;
        font-display: fallback;
    }
    @font-face {
        font-family: 'Baron';
        src: url('/baron/baron_bold.woff2') format('woff2');
        font-weight: 700;
        font-style: normal;
        font-display: fallback;
    }
    @font-face {
        font-family: 'Baron';
        src: url('/baron/baron_italic.woff2') format('woff2');
        font-weight: 400;
        font-style: italic;
        font-display: fallback;
    }
    @font-face {
        font-family: 'Baron';
        src: url('/baron/baron_bold_italic.woff2') format('woff2');
        font-weight: 700;
        font-style: italic;
        font-display: fallback;
    }
    @font-face {
        font-family: 'Baron Black';
        src: url('/baron/baron_black_italic.woff2') format('woff2');
        font-weight: 700;
        font-style: italic;
        font-display: fallback;
    }
    *, *::before, *::after {
        box-sizing: border-box;
    }
    * {
        margin: 0;
        line-height: calc(1em + 0.5rem);
    }
    html, body, #__next {
        height: 100%;
    }
    html {
        --min-tap-height: 44px;
        --font-sans-serif: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
        --font-sans-heading: 'Baron';
        --color-text: hsl(248, 5%, 10%);
        --color-black-normal: hsl(248, 5%, 15%);
        --color-black-text-light: hsl(248, 5%, 25%);
        --color-orange-bg-light: hsl(34, 100%, 85%);
        --color-green-bg-xlight: hsl(109, 20%, 80%);
        --color-green-text-dark: hsl(109, 50%, 20%);

    }
    body {
        overflow-y: scroll;
        font-family: var(--font-sans-serif);
        line-height: 1.5;
        -webkit-font-smoothing: antialiased;
    }
    #__next {
        isolation: isolate;
    }
    p, h1, h2, h3, h4, h5, h6 {
        overflow-wrap: break-word;
    }
    h1, h2, h3, h4, h5, h6 {
        font-family: var(--font-sans-heading);
    }
    h1 {
        font-size: clamp(1.5rem, 4vw + 1rem, 3rem);
        margin-bottom: 0.5em;
        min-height: 0vh;
    }
    h2 {
        font-size: clamp(1.25rem, 2vw + 1rem, 2.5rem);
        margin-bottom: 0.3em;
        min-height: 0vh;
    }
    h3 {
        font-size: clamp(1.10rem, 1.5vw + 1rem, 2rem);
        margin-bottom: 0.2em;
        min-height: 0vh;
    }
    p {
        font-size: 1rem;
        overflow-wrap: break-word;
        font-family: var(--font-sans-serif);
    }
    input, select, textarea, button {
        font: inherit;
    }
    button, input, select, textarea {
        @apply cp:min-h-tap
    }
    img, picture, video, canvas, svg {
        display: block;
        max-width: 100%;
    }
}